{% extends 'base.html.twig' %}
{% trans_default_domain 'multi_currency_wallet' %}

{% block title %}{{ 'dashboard.title'|trans }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('multi_currency_wallet') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('multi_currency_wallet') }}
{% endblock %}

{% block body %}
    <div id="root" data-basename="{{ path('multi_currency_wallet_dashboard', {'_locale': app.request.locale}) }}"></div>
{% endblock %}