{% extends 'base.html.twig' %}
{% trans_default_domain 'multi_currency_wallet' %}

{% block title %}{{ 'dashboard.title'|trans }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('multi_currency_wallet') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('multi_currency_wallet') }}
{% endblock %}

{% block body %}
    <div id="root" 
         data-basename="{{ path('multi_currency_wallet_dashboard', {'_locale': app.request.locale}) }}"
         data-locale="{{ app.request.locale }}"
         data-home-url="{{ path('index_default', {'_locale': app.request.locale}) }}"
         data-title="{{ 'dashboard.title'|trans }}"
         data-back-text="{{ 'dashboard.back_to_home'|trans }}"
         data-icon-url="{{ asset('images/icon_multi_currency_wallet.png') }}"
         data-initial-balances="{{ initial_balances|json_encode|e('html_attr') }}"
         data-translations="{{ {
             'menu_wallet': 'menu.wallet'|trans,
             'menu_converter': 'menu.converter'|trans,
             'menu_rates_history': 'menu.rates_history'|trans,
             'menu_settings': 'menu.settings'|trans,
             'menu_update_rates': 'menu.update_rates'|trans,
             'menu_updating': 'menu.updating'|trans,
             'menu_rates_updated_title': 'menu.rates_updated_title'|trans,
             'menu_rates_updated_desc': 'menu.rates_updated_desc'|trans,
             'menu_rates_error_title': 'menu.rates_error_title'|trans,
             'menu_rates_error_desc': 'menu.rates_error_desc'|trans,
             'menu_rates_skipped_title': 'menu.rates_skipped_title'|trans,
             'menu_rates_skipped_desc': 'menu.rates_skipped_desc'|trans,
             'converter_title': 'converter.title'|trans,
             'converter_amount': 'converter.amount'|trans,
             'converter_enter_amount': 'converter.enter_amount'|trans,
             'converter_from': 'converter.from'|trans,
             'converter_to': 'converter.to'|trans,
             'converter_convert': 'converter.convert'|trans,
             'converter_rate_updated': 'converter.rate_updated'|trans,
             'quick_tips_title': 'quick_tips.title'|trans,
             'quick_tips_swap_tip': 'quick_tips.swap_tip'|trans,
             'quick_tips_update_tip': 'quick_tips.update_tip'|trans,
             'quick_tips_btc_tip': 'quick_tips.btc_tip'|trans,
             'quick_tips_supported_tip': 'quick_tips.supported_tip'|trans,
             'rates_title': 'rates.title'|trans,
             'rates_pair': 'rates.pair'|trans,
             'rates_rate': 'rates.rate'|trans,
             'rates_updated': 'rates.updated'|trans,
             'settings_title': 'settings.title'|trans,
             'settings_preferences': 'settings.preferences'|trans,
             'settings_default_currency': 'settings.default_currency'|trans,
             'settings_default_currency_desc': 'settings.default_currency_desc'|trans,
             'settings_api_key': 'settings.api_key'|trans,
             'settings_api_key_placeholder': 'settings.api_key_placeholder'|trans,
             'settings_api_key_desc': 'settings.api_key_desc'|trans,
             'settings_auto_update': 'settings.auto_update'|trans,
             'settings_auto_update_desc': 'settings.auto_update_desc'|trans,
             'settings_save': 'settings.save'|trans,
             'settings_saved_title': 'settings.saved_title'|trans,
             'settings_saved_desc': 'settings.saved_desc'|trans,
             'card_edit': 'card.edit'|trans,
             'card_save': 'card.save'|trans,
             'card_cancel': 'card.cancel'|trans,
             'currency_czk': 'card.czk'|trans,
             'currency_eur': 'card.eur'|trans,
             'currency_usd': 'card.usd'|trans,
             'currency_rub': 'card.rub'|trans,
             'currency_jpy': 'card.jpy'|trans,
             'currency_btc': 'card.btc'|trans,
             'total_balance_title': 'total_balance.title'|trans,
             'total_balance_target_currency': 'total_balance.target_currency'|trans,
             'total_balance_calculate': 'total_balance.calculate'|trans,
             'total_balance_result_label': 'total_balance.result_label'|trans
         }|json_encode|e('html_attr') }}"
    ></div>
{% endblock %}