{% extends 'base.html.twig' %}
{% trans_default_domain 'index' %}

{% block title %}{{ 'index.title'|trans }}{% endblock %}

{% block body %}

<div class="example-wrapper mt-4">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h2>{{'index.connected_modules'|trans}}</h2>
        <div class="dropdown">
            <button class="btn btn-outline-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                {{ app.request.locale|upper }}
            </button>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton1" style="min-width: auto;">
                <li><a class="dropdown-item small" href="{{ path('index_default', {'_locale': 'cs'}) }}">čeština</a></li>
                <li><a class="dropdown-item small" href="{{ path('index_default', {'_locale': 'en'}) }}">english</a></li>
                <li><a class="dropdown-item small" href="{{ path('index_default', {'_locale': 'ru'}) }}">русский</a></li>
            </ul>
        </div>
    </div>
    <div class="card mt-3">
        <div class="card-body">
            <div class="d-flex justify-content-between align-items-center">
                <div class="d-flex align-items-center">
                    <div class="border rounded p-1 me-3 d-flex align-items-center justify-content-center" style="width: 4rem; height: 4rem;">
                        <img src="{{ asset('images/icon_greeting.png') }}" alt="" style="max-height: 100%; max-width: 100%; height: auto; width: auto;">
                    </div>
                    <div>
                        <h5 class="card-title mb-1">{{'index.title'|trans({}, 'greeting')}}</h5>
                        <p class="card-text text-secondary small-text mb-0">{{'index.description'|trans({}, 'greeting')}}</p>
                    </div>
                </div>
                <a href="{{ path('greeting_dashboard', {'_locale': app.request.locale}) }}" class="btn btn-primary" title="{{'index.open_tooltip'|trans({}, 'greeting')}}">
                    <i class="bi bi-caret-right"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="card mt-3">
        <div class="card-body">
            <div class="d-flex justify-content-between align-items-center">
                <div class="d-flex align-items-center">
                    <div class="border rounded p-2 me-3 d-flex align-items-center justify-content-center" style="width: 4rem; height: 4rem;">
                        <img src="{{ asset('images/icon_multi_currency_wallet.png') }}" alt="" style="max-height: 100%; max-width: 100%; height: auto; width: auto;">
                    </div>
                    <div>
                        <h5 class="card-title mb-1">{{'index.title'|trans({}, 'multi_currency_wallet')}}</h5>
                        <p class="card-text text-secondary small-text mb-0">{{'index.description'|trans({}, 'multi_currency_wallet')}}</p>
                    </div>
                </div>
                <a href="{{ path('multi_currency_wallet_dashboard', {'_locale': app.request.locale}) }}" class="btn btn-primary" title="{{'index.open_tooltip'|trans({}, 'multi_currency_wallet')}}">
                    <i class="bi bi-caret-right"></i>
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
