{% extends 'base.html.twig' %}
{% trans_default_domain 'index' %}

{% block title %}{{ 'index.title'|trans }}{% endblock %}

{% block body %}

<div class="example-wrapper mt-4">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h2>{{'index.connected_modules'|trans}}</h2>
        <div class="dropdown">
            <button class="btn btn-outline-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                {{ app.request.locale|upper }}
            </button>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton1" style="min-width: auto;">
                <li><a class="dropdown-item small" href="{{ path('index_default', {'_locale': 'cs'}) }}">čeština</a></li>
                <li><a class="dropdown-item small" href="{{ path('index_default', {'_locale': 'en'}) }}">english</a></li>
                <li><a class="dropdown-item small" href="{{ path('index_default', {'_locale': 'ru'}) }}">русский</a></li>
            </ul>
        </div>
    </div>
    <div class="card mt-3">
        <div class="card-body">
            <div class="d-flex justify-content-between align-items-start">
                <div>
                    <h5 class="card-title">{{'index.title'|trans({}, 'greeting')}}</h5>
                    <p class="card-text text-secondary small-text">{{'index.description'|trans({}, 'greeting')}}</p>
                </div>
                <a href="{{ path('greeting_dashboard', {'_locale': app.request.locale}) }}" class="btn btn-primary" title="{{'index.open_tooltip'|trans({}, 'greeting')}}">
                    <i class="bi bi-caret-right"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="card mt-3">
        <div class="card-body">
            <div class="d-flex justify-content-between align-items-start">
                <div>
                    <h5 class="card-title">{{'index.title'|trans({}, 'money_calculator')}}</h5>
                    <p class="card-text text-secondary small-text">{{'index.description'|trans({}, 'money_calculator')}}</p>
                </div>
                <a href="{{ path('money_calculator_dashboard', {'_locale': app.request.locale}) }}" class="btn btn-primary" title="{{'index.open_tooltip'|trans({}, 'money_calculator')}}">
                    <i class="bi bi-caret-right"></i>
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
